Notes/outline.html
Handouts/schedule.html
Refs
markdown.css
Web
Images
*.pdf
*.aux
*.log
*.out
Handouts/flyer.tex
Handouts/schedule.md
*.snm
*.toc
*.nav
*.vrb
*_withnotes.tex
Students
av_passcode.txt
announcements.txt
notes.txt
.Rhistory
.RData
